@import "/vendor/bootstrap_includes/node_modules/bootstrap-icons/font/bootstrap-icons.css";

body{
    background: rgb(205, 174, 255);
    font-family: "Pixelify Sans", sans-serif;
}   

wip-component {
  display: flex;
  flex-direction: column;
  flex: 1;
}

h1{
  text-shadow: 2px -1px 13px #F5F5F5, 2px -1px 13px #F5F5F5, 2px 7px 13px #F5F5F5, 2px 7px 13px #F5F5F5;
}

main{
-webkit-box-shadow: 0px 14px 35px 11px rgba(255,255,255,0.38), 0px 14px 35px 11px rgba(255,255,255,0.38); 
box-shadow: 0px 14px 35px 11px rgba(255,255,255,0.38), 0px 14px 35px 11px rgba(255,255,255,0.38);
  
}

footer{
  -webkit-box-shadow: inset 0px 21px 16px -12px rgba(202,166,255,0.37), inset 0px 21px 16px -12px rgba(202,166,255,0.37); 
  box-shadow: inset 0px 21px 16px -12px rgba(202,166,255,0.37), inset 0px 21px 16px -12px rgba(202,166,255,0.37);  
}


/* Ativa o efeito hover apenas em telas grandes (Desktop) */
@media (min-width: 992px) {
  
  .navbar-nav .dropdown:hover > .dropdown-menu,
  .navbar-nav .dropend:hover > .dropdown-menu,
  .navbar-nav .dropdown-item:hover + .dropdown-menu,
  .navbar-nav .dropdown-menu li:hover > .dropdown-menu {
    display: block;
  }

  .navbar-nav .dropdown-menu .dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px; 
  }
}